S3method(print, JoF)
S3method(plot, JoF)
importFrom("stats", "runif", "sd", "rnorm")
importFrom("grDevices", "rainbow", "palette")
importFrom("graphics", "lines", "plot", "text")
export(PASS1)
export(PASS2)
export(MINERVA2)
export(TODAM2)
